<div ng-controller="IndexController">
  <!-- Fixed Logo & Menu Bar Start -->
  <div class="navbar-fixed">
    <nav class="" role="navigation"> 
      <div class="nav-wrapper">
        <a id="logo-container" href="#" class="logo-text brand-logo deep-orange-text accent-3">Cards for Humanity</a>
        <ul class="right hide-on-med-and-down white-text">
          <li><a href="#" class="waves-effect btn hoverable deep-orange accent-3">Donate</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#" class="waves-effect btn hoverable deep-orange accent-3">Donate</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    <div id="nav-divider" class="divider"></div>      
    </nav>
  </div>

<!-- Fixed Logo & Menu Bar End -->

<!-- Landing Start -->
<div class="wpb-teaser center parallax-background" id="homer">
  <div class="background-opacity"></div> 
  <div class="modified-container">
    <div class="row" id="main-text"> 
    <!-- Teaser Text Start -->
    <div id="landing-logo">
      <h2 id="slogan">Choose an Avatar!</h2>
      <p id="create">You're almost there! Just pick an avatar from the options below!</p>

      <div class="sign-body">
        <div class="more-sign">
          <form class="signup form-horizontal" action="/users/avatars" method="post">
            <div id="contain-avatars">
              <ul class="avatar-list">
                <li ng-repeat="avatar in avatars" class="avatars ng-scope">
                  <input name="avatar" type='radio' value="{{$index}}">
                    <img ng-src="{{avatar}}">
                  </input>
                </li>
              </ul>
            </div>
            <div class="form-actions">
              <button class="btn-large waves-effect waves-light deep-orange accent-3" type='submit'>Let's Go!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>



