<!DOCTYPE html>
<html>
    <head></head>
    <title>Dashboad</title>
        <header>
        <nav>
            <div class="nav-wrapper dashboard-nav"></div>
        </nav>
  <div ng-controller="IndexController">
  <div class="center heading">Welcome to your dashboard</div>
  <div class="align-center">
      <div>
  <div><button class="waves-effect waves-light btn modal-trigger deep-orange accent-3" ng-click="leaderboard()" data-target="modal1">View Leaderboard</button>
  <button class="waves-effect waves-light btn modal-trigger deep-orange accent-3" ng-click="gameHistory()" data-target="modal2">View Game history</button>
  <button class="waves-effect waves-light btn modal-trigger deep-orange accent-3" ng-click="donations()" data-target="modal3">View Donation</button>
      </div>

<div>
 <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Leaderboard</h4>
      <table ng-hide="!(gameWinners.length > 0)">
        <thead>
          <tr>
              <th>Index</th>
              <th>Name Of Player</th>
              <th>Number of Wins</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="winner in gameWinners">
            <td>{{winner.index}}</td>
            <td>{{winner.name}}</td>
            <td>{{winner.wins}} times</td>
          </tr>
        </tbody>
      </table>
      <div ng-if="!(gameWinners.length > 0)">
      <p>Apparently no game has been won by a player in this platform, you can start a game now and break the record to 
        be the first gane winner!</p>
     </div>
    </div>
    <div class="modal-footer">
      <button class="modal-action modal-close waves-effect waves-green btn-flat ">Close</button>
    </div>
  </div>
</div>
<div>

<!--Game History modal-->
  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Game History</h4>
      <table ng-hide="!(games.length > 0)">
        <thead>
          <tr>
              <th>Index</th>
              <th>Game Starter</th>
              <th>Game Winner</th>
              <th>Players</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="game in games">
            <td>{{game.index}}</td>
            <td>{{game.gameCreator}}</td>
            <td>{{game.gameWinner}}</td>
            <td>{{game.players}}</td>
          </tr>
        </tbody>
      </table>
      <div ng-if="!(games.length > 0)">
      <p>You have not played any games yet. Have some fun by starting and playing a game now!</p>
     </div>
    </div>
    <div class="modal-footer">
      <button class="modal-action modal-close waves-effect waves-green btn-flat ">Close</button>
    </div>
  </div>

<!--Donation modal-->
  <div id="modal3" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Records of Donations</h4>
      <div ng-if="status === 'failed'">
          <p>{{message}}</p>
      </div>
      <div ng-if="status === 'success'">
          <p>You have made {{count}} donations to charity</p>
      </div>
    <div class="modal-footer">
      <button class="modal-action modal-close waves-effect waves-green btn-flat ">Close</button>
    </div>
  </div>
</div>
        </header>
</html>    