<!DOCTYPE html>
<html>
    <head></head>
    <title>Dashboad</title>
        <header>
        <nav>
            <div class="nav-wrapper dashboard-nav"></div>
        </nav>
  <div ng-controller="IndexController">
  <div class="center heading">Welcome, Peter to your dashboard</div>
  <div class="align-center">
      <div>
  <div><a class="waves-effect waves-light btn modal-trigger" ng-click="leaderboard()" href="#modal1">View Leaderboard</a>
  <a class="waves-effect waves-light btn modal-trigger" href="#modal2">View Game history</a>
  <a class="waves-effect waves-light btn modal-trigger" href="#modal3">View Donation</a>
      </div>
<!--Leaderboard modal-->
 <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Leaderboard</h4>
      <table>
        <thead>
          <tr>
              <th>Rank Position</th>
              <th>Name Of Player</th>
              <th>Number of Wins</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="winner in winners">
            <td>{{winner.id}}</td>
            <td>{{winner.name}}</td>
            <td>{{winner.wins}} times</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
    </div>
  </div>

<!--Game History modal-->
  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Game History</h4>
      <table>
        <thead>
          <tr>
              <th>Game Starter</th>
              <th>Number of Rounds</th>
              <th>Game Winner</th>
              <th>Players</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>James</td>
            <td>2</td>
            <td>Paul</td>
            <td>James, Paul, Adams</td>
          </tr>
          <tr>
            <td>James</td>
            <td>2</td>
            <td>Paul</td>
            <td>James, Paul, Adams</td>
          </tr>
          <tr>
           <tr>
            <td>James</td>
            <td>2</td>
            <td>Paul</td>
            <td>James, Paul, Adams</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
    </div>
  </div>

<!--Donation modal-->
  <div id="modal3" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Records of Donations</h4>
      <table>
        <thead>
          <tr>
              <th>Premium Donor</th>
              <th>Number of times</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>xxxxxxx</td>
            <td>2</td>
          </tr>
          <tr>
            <td>yyyyyy</td>
            <td>2</td>
          </tr>
          <tr>
           <tr>
            <td>kkkkk</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
    </div>
  </div>
</div>
        </header>
</html>    