 <!-- <div class="card-panel grey">
  <div class="card longBlack">
    <span ng-bind-html-unsafe="game.curQuestion.text" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'"></span>
    <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>
    
    <div id="startGame" ng-show="game.state === 'awaiting players'">
      <div id="finding-players">Finding Players</div>
      <div id="player-count-container">
        <div id="player-count">{{game.players.length}} / 12 </div>
        <div id="the-word-players"> Players </div>
      </div>
      <div id="loading-container">
        <div id="loading-gif"><img ng-src="../img/loader.gif"/></div>
      </div>
      <div id="start-game-container" ng-click="regionModal()" ng-show="(game.playerIndex === 0 || game.joinOverride) && game.players.length >= game.playerMinLimit">
        <div id='start-game-button'>
          Start Game</br>with {{game.players.length}} players
        </div>
      </div>
    </div> -->

    <!-- Game Over Stuff -->
     <!-- <div id="game-end-info">
      <div id="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <div class="game-end-headline">What the!? The game ended because too many people left! </div>
        Our sincere apologies.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <div class="game-end-headline">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</div>We hope you feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde it all for youself.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <div class="game-end-headline">Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</div>
        That makes you a loser, unfortunately.
      </div>
    </div>
  </div>
</div>  -->

<div class="card-panel time-question center white-text">
  <span style="font-size: 2.0em;" ng-bind-html-unsafe="game.curQuestion.text" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'"></span>

  <div class="notifications right" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>
  
  <div ng-show="game.state === 'awaiting players'">
    <div class="col s12 m3 player-count-div">
      <p class="flow-text player-count">
        {{game.players.length}} / 12 <span>Players</span>
      </p>
    </div>
    <div class="find-players-div col s12 m9">
      <!-- <div class="row"></div> -->
      <p class="find-players">Finding Players</p>
      <!-- <p class="find-player-gif">Loading...</p> -->
      
      <img ng-src="../img/loader.gif" />
      <!-- <br>  -->
      <!-- <p class="notifications right">Terungwa has won the game...</p> -->
      <div>
        <a class="start-btn btn waves-effect waves-light deep-orange accent-3" ng-click="regionModal()" ng-show="(game.playerIndex === 0 || game.joinOverride) &&  game.players.length >= game.playerMinLimit">
          Start Game</br>with {{game.players.length}} players
        </a>
      </div>
    </div>
      <!-- Game Over Stuff  -->
    
    <div>
      <div ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <p class="notification-messages">What the!? The game ended because too many people left! 
        Our sincere apologies.</p>
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <p class="notification-messages">Congratulations! You won the game, <span class="lime-text accent-3">{{game.players[game.playerIndex].username | upperFirstLetter}}!</span> We hope you feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde it all for youself.</p>
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <p>Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</p>
        That makes you a loser, unfortunately.
      </div>
    </div>
  </div>
  <!-- Game over stuff  -->
  <!-- Region Modal Structure -->
  <div id="region" class="modal black-text" ng-controller="IndexController">
    <form>
      <div class="modal-content">
        <div class = "modal-header-flex">
          <h4>Specify a Region</h4>
        </div>
        <hr>
        <div class="modal-body region-form">
          <span>Select region based on the card questions you want</span>
          <select class="form-control" name="region" ng-model="data.region" style="display: block">
            <option value="" disabled selected>Choose your option</option>
            <option value="Africa">Africa</option>
            <option value="Asia">Asia</option>
            <option value="America">America</option>
            <option value="Europe">Europe</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button class="modal-action waves-effect waves-red btn-flat" ng-click="selectRegion()"><strong>Play Game</strong></button>
        <a href="" class="modal-action modal-close waves-effect waves-red btn-flat"><strong>Cancel</strong></a>
      </div>
    </form>
  </div>

</div>

